---
layout: page
profiles_per_row: 3  # Define the number of profiles per row
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% assign profiles_per_row = page.profiles_per_row %}
      {% for profile in page.profiles %}
        {% if forloop.index0 | modulo: profiles_per_row == 0 %}
          <div class="profile-row" style="display: flex; flex-wrap: wrap; width: 100%;">
        {% endif %}

        <div class="profile float-{{ profile.align }}" style="flex: 0 0 calc(100% / {{ profiles_per_row }}); padding: 10px; box-sizing: border-box;">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            <img src="{{ profile_image_path }}" class="{{ profile_image_class }}" alt="Profile Image">
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info | markdownify }}</div>
          {% endif %}
        </div>

        {% if forloop.index0 | modulo: profiles_per_row == profiles_per_row - 1 or forloop.last %}
          </div> <!-- close .profile-row -->
        {% endif %}
      {% endfor %}
    {% endif %}
  </article>
</div>
